.common-bg {
  background-color: #ff9500 !important;
}

.tweet {
  background-color: #efeff4;
}

.tweet .tweet-title {
  border-bottom: 1px solid rgb(221, 221, 221);
}

.tweet ion-card ion-card-content {
  padding-top: 5px;
}

.half-image {
  width: 50%;
  height: 50%;
  padding: 0px 16px;
}

.hiApp-logo {
  width: 100px;
  height: 100px;
  margin: 50px auto;
  display: block;
}

.login ion-list {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.tweet-detail {
  background-color: #efeff4;
}

.tweet-detail ion-list {
  margin: 12px 12px 12px 12px;
}

.tweet-detail ion-list ion-list-header {
  background: white;
}

.tweet-detail ion-list ion-avatar img {
  border-radius: 0;
}